{% extends 'layout.html' %}

{% block container %}
{% import "_macros.html" as macros %}

<script src="https://cdn.tailwindcss.com"></script>

<div class="w-full max-w-lg p-8 bg-white border border-gray-200 rounded-2xl shadow-xl">

    <div class="mb-8 text-center">
        <h2 class="text-2xl font-bold text-gray-900">Registro de Usuario</h2>
        <p class="text-gray-500 text-sm">Completa los datos para darte de alta en el sistema.</p>
    </div>

    <form action="" method="POST" novalidate>
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-6 group">
                {{macros.campoNuevo(form.nombre,
                class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent
                border-0 border-b-2 border-gray-300 appearance-none focus:outline-none
                focus:ring-0 focus:border-blue-600 peer', placeholder='Ingresa tu nombre', required=True)}}
            </div>
            <div class="relative z-0 w-full mb-6 group">
                {{macros.campoNuevo(form.apaterno,
                class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
                border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0
                focus:border-blue-600 peer', placeholder='Ingresa tu apellido paterno', required=True)}}
            </div>
        </div>

        <div class="relative z-0 w-full mb-8 group">
            {{macros.campoNuevo(form.email,
            class='block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0
            border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0
            focus:border-blue-600 peer', placeholder='Ingresa tu correo', required=True)}}
        </div>

        <div class="flex gap-4">
            <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
            focus:ring-blue-300 font-semibold rounded-lg text-sm px-5 py-3 text-center transition-all 
            duration-200" id="btn1" name="btn1">
                Registrar Ahora
            </button>
            <button type="submit" class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none 
            focus:ring-red-300 font-semibold rounded-lg text-sm px-5 py-3 text-center transition-all 
            duration-200" id="btn2" name="btn2">
                Cancelar
            </button>
        </div>
    </form>
</div>

{% endblock %}