{% extends 'layout.html' %}

{% block container %}

<script src="https://cdn.tailwindcss.com"></script>

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <button type="button" class="text-white bg-blue-700 box-border border border-transparent hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
            shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none
            m-5">
        <a href="{{url_for('alumnos')}}">Agregar Alumno</a>
    </button>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellido Paterno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Fecha de creación
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Ver Detalles
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{ alumno.nombre }}
                </th>
                <td class="px-6 py-4">
                    {{ alumno.apaterno }}
                </td>
                <td class="px-6 py-4">
                    {{ alumno.email }}
                </td>
                <td class="px-6 py-4">
                    {{ alumno.created_at }}
                </td>
                <th scope="col" class="px-6 py-3 font-medium">
                    <button type="button"
                        class="text-white bg-gray-800 box-border border border-transparent hover:bg-gray-900 focus:ring-4 
                        focus:ring-gray-300 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">
                        Ver Detalles
                    </button>
                </th>
                <td class="px-6 py-4">
                    <button type="button"
                        class="text-white bg-red-800 box-border border border-transparent hover:bg-red-900 focus:ring-4 
                        focus:ring-red-300 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">
                        Eliminar
                    </button>
                    <button type="button"
                        class="text-white bg-yellow-800 box-border border border-transparent hover:bg-yellow-900 focus:ring-4 
                        focus:ring-yellow-300 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">
                        Actualizar
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}